.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
    .icons {
        display: flex;
        justify-content: center;
        padding: 5px;
        height: 17px;
    }


    .bottom-text {
        display: flex;
        font-size: 8px;
        justify-content: center;
    }
}
