

.homepage-container {
    display: flex;
    resize: both;
    overflow: auto;
     


    h1{
        position: absolute;
    top: 10%;
    left: 45%;
    right: 45%;
    margin-top: -50px;
    // margin-left: -50px;
    width: auto;
    height: 100px;
    }

    h2{
        position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    margin-top: -50px;
    // margin-left: -50px;
    width: auto;
    height: 100px;
    }
    .left-side{
        width: 45%;
        height: 70%;
        position: absolute;
        top: 30%;
        left: 0;
        outline: none;

        .logo{
            height: 300px;
        }
    }

    .right-side{
        width: 45%;
        height: 70%;
        position: absolute;
        top: 30%;
        right: 0;
        outline: none;

        .logo{
            height: 300px;
        }
    }
}