

.homepage-container {
    display: flex;
    resize: both;
    overflow: auto;
     


    h1{
        position: absolute;
        top: 3%;
        left: 42.5%;
    }

    h2{
        position: absolute;
        top: 10%;
        left: 17.9%;
    }
    .left-side{
        width: 45%;
        height: 70%;
        position: absolute;
        top: 30%;
        left: 0;
        outline: none;

        .logo{
            height: 300px;
        }
    }

    .right-side{
        width: 45%;
        height: 70%;
        position: absolute;
        top: 30%;
        right: 0;
        outline: none;

        .logo{
            height: 300px;
        }
    }
}